

@if (Peliculas == null)
{
    <text>Cargando...</text>
}
else if (Peliculas.Count == 0)
{
    <text>No hay Peliculas para mostrar</text>
}
else
{
    <input type="checkbox" @onchange="@(()=>Mostrar=!Mostrar)" /><span>Mostrar botones</span>

    <div>
       
        @foreach (var item in Peliculas)
        {
           <PeliculaIndividual Pelicula="item" Mostrar="Mostrar"/>
        }

    </div>
}


@code {
    [Parameter]public List<Pelicula> Peliculas{ get; set; }
    private bool Mostrar;

    
}
