
@if (Peliculas == null)
{
    <text>Cargando...</text>
}
else if (Peliculas.Count == 0)
{
    <text>No hay Peliculas para mostrar</text>
}
else
{
    <div>
       
        @foreach (var item in Peliculas)
        {
           <PeliculaIndividual Pelicula="item"/>
        }

    </div>
}


@code {
    [Parameter]public List<Pelicula> Peliculas{ get; set; }

    
}
