@inject IJSRuntime js

<div class="tarjeta">
<ListadoGenerico Listado="Peliculas">
    <HayRegistros>
        <PeliculaIndividual Pelicula="context"
                            EliminarPelicula="EliminarPelicula">

        </PeliculaIndividual>
    </HayRegistros>
</ListadoGenerico>

</div>



@code {
    [Parameter] public List<Pelicula> Peliculas { get; set; }

    async Task EliminarPelicula(Pelicula pelicula)
    {
        var confirmado = await js.Confirm($"Desea borrar la pelicula {pelicula.Titulo}");
        if (confirmado)
        {
             Peliculas.Remove(pelicula);
        }
    }


}
