@inject IJSRuntime js

<ListadoGenerico Listado="Peliculas">
    <HayRegistros>
        <PeliculaIndividual Pelicula="context"
                            EliminarPelicula="EliminarPelicula">

        </PeliculaIndividual>
    </HayRegistros>
</ListadoGenerico>


<Confirmacion @ref="componente" onCancel="OnCancel" onConfirm="OnConfirm">
    <p>Desea borrar la pelicula:@PeliculaABorrar.Titulo ?</p>
</Confirmacion>

@code {
    Confirmacion componente;
    [Parameter] public List<Pelicula> Peliculas { get; set; }
    public Pelicula PeliculaABorrar; 

    async Task EliminarPelicula(Pelicula pelicula)
    {
        componente.Mostrar();
        //var confirmado = await js.Confirm($"Desea borrar la pelicula {pelicula.Titulo}");
        //if (confirmado)
        //{
        //     Peliculas.Remove(pelicula);
        //}
        PeliculaABorrar = pelicula;
    }

    void OnCancel()
    {
        componente.Ocultar();
        PeliculaABorrar = null;
    }
    void OnConfirm()
    {
        Peliculas.Remove(PeliculaABorrar);
        PeliculaABorrar = null;
        componente.Ocultar();
    }

}
