@if (Peliculas == null)
{
    @if (Cargando == null)
    {
        <text>Cargando...(ListadoPeliculas)</text>
    }
    else
    {
        @Cargando
    }
}
else if (Peliculas.Count == 0)
{
    @if (NoHayPeliculas == null)
    {
        <text>No hay peliculas que mostrar(ListadoPeliculas)</text>
    }
    else
    {
        @NoHayPeliculas
    }
}
else
{

    <div>

        @foreach (var item in Peliculas)
        {
            <PeliculaIndividual Pelicula="item"
                        EliminarPelicula="EliminarPelicula">
            </PeliculaIndividual>

        }

    </div>
}


@code {
    [Parameter] public List<Pelicula> Peliculas { get; set; }
    [Parameter] public RenderFragment Cargando { get; set; }
    [Parameter] public RenderFragment NoHayPeliculas { get; set; }
    private bool Mostrar = true;

    void EliminarPelicula(Pelicula pelicula)
    {
        Peliculas.Remove(pelicula);
    }
}
