<div class="poster">
    <a>
        <img class="poster-img" src="@Pelicula.Poster" alt="Poster"/>
    </a>

    <p class="poster-titulo">@Pelicula.Titulo</p>

    <div>
        <a class="btn btn-info">Editar</a>
        <button type="button" class="btn btn-danger" 
        @onclick="@(()=>EliminarPelicula.InvokeAsync(Pelicula))">Borrar</button>
    </div>

</div>

@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public EventCallback<Pelicula> EliminarPelicula { get; set; }
}
