<div>
    <p>Titulo     : <b>@Pelicula.Titulo</b></p>
    <p>Lanzamiento: <b>@Pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
    @if (Mostrar)
    {
        <div>
            <button @onclick="Eliminar">Borrar</button>
        </div>
    }

</div>

@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool Mostrar { get; set; } 

    void Eliminar()
    {
        Console.WriteLine($"Eliminando pelicula {Pelicula.Titulo}");

    }

}
