@page "/generos/crear"

<h3>CrearGenero</h3>

<FormularioGenero Genero="Genero" Guardar="Crear"/>


@code {
    private Genero Genero=new Genero();


    private void Crear()
    {
        Console.WriteLine("Ejecutando metodo crear");
        Console.WriteLine($"Creando genero:{Genero.Nombre}");
    }
}
