@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>CrearPelicula</h3>

<button @onclick="Crear" type="button">Salvar pelicula</button>
@code {
    void Crear()
    {
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("/pelicula");
    }
}
