@page "/pelicula/{PeliculaId:int}"
@page "/pelicula/{PeliculaId:int}/{NombrePelicula}"

<h3>VisualizarPelicula</h3>

@code {
    [Parameter]
    public int PeliculaId { get; set; }
    [Parameter]
    public string NombrePelicula { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"El ID de la pelicula es {PeliculaId}");
         Console.WriteLine($"El nombre de la pelicula es {NombrePelicula}");
    }
}
