@page "/counter"
@using static BlazorPeliculas.Client.Shared.MainLayout

<h1 style="color:@appState.Color">Counter</h1>

<p style="color:@appState.Color;font-size:@appState.Size">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<div>
    <select @bind="appState.Color">
        <option value="green">verde</option>
        <option value="red">rojo</option>
        <option value="blue">azul</option>
    </select>
</div>

@code {
    private int currentCount = 0;
    [CascadingParameter] protected AppState appState{ get; set; }
   
    private void IncrementCount()
    {
        currentCount++;
    }
}
