@page "/"

<h1>Peliculas</h1>

<ListadoPeliculas></ListadoPeliculas>


@code {
    private string nombre = "Felipe";

    private void ManejarClick()
    {
        Console.WriteLine("Me han clickeado(desde metodo)");
    }

}