@page "/"

<h1>Peliculas</h1>

<ListadoPeliculas Peliculas="ObtenerPeliculas()"></ListadoPeliculas>


@code {
    private string nombre = "Felipe";

     private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()

        {
            new Pelicula(){Titulo = "Spider-Man",Lanzamiento = new DateTime(2019, 12, 23)},
            new Pelicula(){Titulo = "Moana",Lanzamiento = new DateTime(2019, 12, 23)},
            new Pelicula(){Titulo = "Inception",Lanzamiento = new DateTime(2019, 12, 23)},
        };
    }

   

}