@page "/"
@inject IRepositorio repositorio

<h1>Peliculas</h1>

<ListadoPeliculas Peliculas="Peliculas" />


@code {
    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
       Peliculas= repositorio.ObtenerPeliculas();
    }
   

}